WcfNotesAppClient/src/conf/xml-resources/web-service-references/WcfNotesApp/wsdl/localhost_8008/WcfNotesApp.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfNotesApp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfNotesApp"><xs:complexType name="ArrayOfNotes"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Notes" nillable="true" type="tns:Notes"/></xs:sequence></xs:complexType><xs:element name="ArrayOfNotes" nillable="true" type="tns:ArrayOfNotes"/><xs:complexType name="Notes"><xs:sequence><xs:element minOccurs="0" name="Details" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Id" type="xs:int"/><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Notes" nillable="true" type="tns:Notes"/></xs:schema>