WcfNotesAppClient1/WcfNotesAppClient1/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfNotesApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNote" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:getNotes" />
  </wsdl:message>
  <wsdl:message name="IService1_getNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateNote_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNote" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getNote_InputMessage">
    <wsdl:part name="parameters" element="tns:getNote" />
  </wsdl:message>
  <wsdl:message name="IService1_getNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteNote_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteNote" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteNoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNote" message="tns:IService1_AddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNoteResponse" message="tns:IService1_AddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getNotes" message="tns:IService1_getNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNotesResponse" message="tns:IService1_getNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateNote" message="tns:IService1_UpdateNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateNoteResponse" message="tns:IService1_UpdateNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getNote" message="tns:IService1_getNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNoteResponse" message="tns:IService1_getNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteNote" message="tns:IService1_deleteNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteNoteResponse" message="tns:IService1_deleteNote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNotes">
      <soap:operation soapAction="http://tempuri.org/IService1/getNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNote">
      <soap:operation soapAction="http://tempuri.org/IService1/getNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNote">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8008/WcfNotesApp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>